<html>
<body>
    <h1>Login</h1>
    <% if (error) { %><p style="color:red"><%= error %></p><% } %>
    <form method="POST">
        <input name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button>Login</button>
    </form>
    <hr>
    <h3>Demo Accounts:</h3>
    <% Accounts.forEach(account => { %>
        <p><b><%= account.username %></b> / <%= account.password %></p>
    <% }); %>
</body>

</html>
